
    <div class="col-xs-4 col-sm-4 col-md-4 panel-body">
        <ul class="list-group">
            <li class="list-group-item">
                <h4>Watch List:</h4>
                <input class="form-control" placeholder="Seach Your Share" type="text" ng-model="$ctrl.searchText">

                <a class="list-group-item" ng-repeat="share in $ctrl.watchList | orderBy: 'name' | filter: $ctrl.searchText ">
                    <!-- {{share.first_name}} -->
                    {{share.Name}}
                </a>
            </li>
        </ul>
    </div>

    <graph-app></graph-app>

